* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroContent {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 550px;
  position: relative;
  padding: 0 0.5rem;
}
.heroInfoContent,
.heroImageContent,
.heroImage {
  width: 100%;
}
.heroImage {
  display: flex;
}
.heroInfoContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  max-width: 600px;
  top: 50%;
  left: 0.5rem;
  transform: translate(0%, -50%);
}
.heroInfoSubTitle {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #df6951;
}
.heroInfoMainTitle {
  font-family: "Volkhov", sans-serif;
  font-weight: bold;
  font-size: 84px;
  color: #181e4b;
  line-height: 89px;
}
.heroInfoDesc {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5e6282;
  max-width: 480px;
}
.heroInfoTextDecore {
  position: relative;
}
.heroInfoTextDecore::after {
  content: "";
  height: 100%;
  width: 23rem;
  background: url(../../assets/heroImages/title_decore.png) bottom no-repeat;
  position: absolute;
  left: 0;
  bottom: 1.1rem;
  z-index: -1;
}
.heroButtonContent {
  max-width: 380px;
  gap: 2rem;
}
.heroButtonContent,
.heroDemoContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heroDemoContent {
  gap: 1rem;
}
.heroDemoDesc,
.heroButton {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 17px;
  color: #686d77;
}
.heroButton {
  color: #fff;
  background-color: #f1a501;
  width: 170px;
  height: 60px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .heroInfoContent {
    gap: 0.5rem;
  }
  .heroInfoSubTitle {
    font-size: 16px;
  }
  .heroInfoMainTitle {
    font-size: 60px;
  }
  .heroInfoTextDecore::after {
    width: 11rem;
  }
  .heroInfoDesc {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .heroInfoMainTitle {
    font-size: 45px;
    line-height: 60px;
  }
  .heroInfoTextDecore::after {
    bottom: 0;
  }
}
@media (max-width: 800px) {
  .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroInfoContent {
    position: unset;
    transform: translate(0, 0);
    max-width: 100%;
    text-align: center;
  }
  .heroInfoDesc {
    max-width: 80%;
    margin: 0 auto;
  }
  .heroButtonContent {
    justify-content: center;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .heroButton {
    width: 120px;
    height: 50px;
    font-size: 14px;
  }
  .heroDemoImgContent {
    max-width: 35px;
  }
  .heroDemoImg {
    width: 100%;
    height: 100%;
  }
  .heroDemoDesc {
    font-size: 14px;
  }
  .heroDemoContent {
    gap: 0.25rem;
  }
}
