.subscribeWrapper,
.subscribeContent {
  max-width: 1200px;
  margin: 1rem auto;
}
.subscribeContent {
  font-family: "Poppins";
  max-width: 1100px;
  background-color: rgb(223, 215, 249, 0.2);
  height: 100%;
}
.subscribeTitle {
  font-weight: 600;
  color: #5e6282;
  font-size: 33px;
  text-align: center;
}
.subscribeInput {
  max-width: 421px;
  width: 100%;
  min-height: 68px;
  background-image: url(../../assets/subscribeImages/mail.png);
  background-repeat: no-repeat;
  background-position: center 5rem;
}
