* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContent {
  background: url(./assets/heroImages/hero_decore.png) right no-repeat;
  max-width: 100%;
  background-size: contain;
  background-position: top right;
  overflow: hidden;
}
.sectionSubTitle,
.sectionMainTitle {
  text-align: center;
}
.sectionSubTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #5e6282;
}
.sectionMainTitle {
  font-family: "Volkhov", sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #14183e;
}
